<h1>People#index</h1>
<input type="search" placeholder="Enter name..." data-behavior="autocomplete">
<%= text_field_tag 'search', nil, placeholder: "Enter search term...", "data-behavior" => "autocomplete" %>
<table>
  <thead>
    <tr>
      <th>first_name</th>
      <th>last_name</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>